.branding {
    background-color: black;
    max-height: 250px;
    overflow: hidden;
}
.container-logo {
    max-width: 960px;
    display: block;
    margin: 0 auto;
}


/* Homepage CSS */

#header > .container {
    position: relative;
    min-height: 6em;
}

/* End Homepage CSS */

/* Menu CSS  */

.header-nav li {
    background-color: rgba(0, 0, 0, .5);
}

.header-nav ul {
    margin: 0;
    padding: 0;
  }
  
  .header-nav .main-menu {
    display: none;
  }
  
  #tm:checked + .main-menu {
    display: block;
  }
  
  .header-nav input[type="checkbox"], 
  .header-nav ul span.drop-icon {
    display: none;
  }
  
.header-nav li {
    width: 100%;
}

  .header-nav li, 
  #toggle-menu, 
  .header-nav .sub-menu {
    border-style: solid;
    border-color: rgba(0, 0, 0, .05);
  }
  
  .header-nav li, 
  #toggle-menu {
    border-width: 0 0 1px;
  }
  
  .header-nav .sub-menu {
    background-color: #444;
    border-width: 1px 1px 0;
    margin: 0 1em;
  }
  
  .header-nav .sub-menu li:last-child {
    border-width: 0;
  }
  
  .header-nav li, 
  #toggle-menu, 
  .header-nav a {
    position: relative;
    display: block;
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .125);
  }
  
  .header-nav {
      background: #959595;
      background: -moz-linear-gradient(top, #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#959595), color-stop(46%,#0d0d0d), color-stop(50%,#010101), color-stop(53%,#0a0a0a), color-stop(76%,#4e4e4e), color-stop(87%,#383838), color-stop(100%,#1b1b1b));
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 );
      border-top: 1px solid white;
      color: #ffffff;
      /* 
      border-bottom: 1px solid white;
      text-transform: uppercase;
      height: 25.2px;
      font-size: 12px;
      overflow: visible;
      z-index: 100;
      padding-bottom: 10px; */
  }
  
  #toggle-menu {
    background: #333;
  }
  
  #toggle-menu, 
  .header-nav a {
    padding: 1em 1.5em;
    position: relative;
    top: -10px;
  }
  
  .header-nav a {
    transition: all .125s ease-in-out;
    -webkit-transition: all .125s ease-in-out;
    border-radius: 12px;
    width: 100%;
  }
  
  .header-nav a:hover {
    background-color: white;
    color: #09c;
    border-radius: 10% 10% 0% 0%;
  }
  
  .header-nav .sub-menu {
    display: none;
  }
  
  .header-nav input[type="checkbox"]:checked + .sub-menu {
    display: block;
  }
  
  .header-nav .sub-menu a:hover {
    color: #444;
  }
  
  #toggle-menu .drop-icon, 
  .header-nav li label.drop-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .header-nav label.drop-icon, #toggle-menu span.drop-icon {
    padding: 1em;
    font-size: 1em;
    text-align: center;
    background-color: rgba(0, 0, 0, .125);
    text-shadow: 0 0 0 transparent;
    color: rgba(255, 255, 255, .75);
  }

  @media only screen and (min-width: 1024px) {

    .header-nav {
      background-color: transparent;
    }
  
    .header-nav .main-menu {
      display: flex;
      justify-content: space-evenly;
    }
  
    #toggle-menu, 
    .header-nav label.drop-icon {
      display: none;
    }
  
    .header-nav ul span.drop-icon {
      display: inline-block;
    }
  
    .header-nav li {
      float: left;
      border-width: 0 1px 0 0;
    }
  
    .header-nav .sub-menu li {
      float: none;
    }
  
    .header-nav .sub-menu {
      border-width: 0;
      margin: 0;
      position: absolute;
      top: 48px;
      left: 0;
      width: 12em;
      z-index: 3000;
      border-bottom: 3px solid white;
    }
  
    .header-nav .sub-menu, 
    .header-nav input[type="checkbox"]:checked + .sub-menu {
      display: none;
    }
  
    .header-nav .sub-menu li {
      border-width: 0 0 1px;
    }
  
    .header-nav .sub-menu .sub-menu {
      top: 0;
      left: 100%;
    }
  
   .header-nav .sub-menu .drop-icon {
      position: absolute;
      top: 0;
      right: 0;
      padding: 1em;
    }
  
    .header-nav li:hover > input[type="checkbox"] + .sub-menu {
      display: block;
    }
  }

/* End Menu CSS */


/* Media Queries */

@media screen and (max-width: 980px) {
  .branding {
      top: 36px;
      position: relative;
  }
  .container-logo {
      max-width: 100vw;
  }
}


@media screen and (min-width: 980px) {
  .hide-desktop {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
    .header-nav li {
        height: 4.1em;
    }
}

/* End Media Queries */